/* This stylesheet is used to style the admin option form of the plugin. */

/**
* CSS Hacks
*
* Needed common CSS trick
*/

.wpc-insert-codes-clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }

.wpc-insert-codes-clearfix { display: inline-block; }

* html .wpc-insert-codes-clearfix { 
	height: 1%;
}

.wpc-insert-codes-clearfix { display: block; }

.wpc-insert-codes-textarea-wrapper {
	max-width: 900px;
	width: 100%;
}
.wpc-insert-codes-textarea {
	height: 210px;
	width: 100%;
}
